@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cream: #f7f6f2;
  --sage: #88a294;
  --terracotta: #c97c63;
  --charcoal: #293c35;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--cream);
  color: var(--charcoal);
}
